@charset "UTF-8";

/* ====== Conf. Global ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ====== Div que engloba todo o conteudo */

div#container {

    margin: auto;
    width: 1080px;
    height: 100%;
    background-image: url(../img/bg_page.png);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ====== FIM - Div que engloba todo o conteudo */


/* ====== Cabeçario e Menu ====== */

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: url(../img/fundo-verde-1.jpg);
    height: 120px;
    padding-top: 5px;
}

/* ====== LOGO ====== */

.logo-blue {

    color: blue;
    transition: font-size 1s 1s;
}

.logo-blue:hover {

    font-size: 1.9em;
}

.logo-green {

    color: green;
}

.logo-orange {

    color: orange;
}


.cubo {

    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-right: -90px;
    margin-left: 23px;
    width: 140px;
    height: 90px;
}

.cubo-animado {

    animation: piscando 2s linear infinite;
}

@keyframes piscando {

    0% {opacity: 1;}
    50% {opacity: 0.2;}
    100% {opacity: 3;}
}

h1 {
    margin-top: 30px;
    margin-left: 22px;
    font-size: 3em;
    text-shadow: 0px 1px 2px rgba(254, 250, 250, 0.559);
}
/* =================== FIM CABEÇARIO ===============*/



/* =================== MENU NAVEGAÇÃO ===============*/
nav > ul {

    display: flex;
    gap: 13px;
    margin-right: 141px;
    margin-bottom: 5px;
}


nav >ul li.menu1, li.menu2, li.menu3, li.menu4 {

    display: inline-block;
    color: #26511d;
    border-radius: 0 7px 0 7px;
    background-color: rgba(240,246,245,.75);
    border: 3px solid rgba(240, 246, 245, 0.466);
    padding: 4px 7px 5px 7px;
    border-style: groove;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

nav >ul ul {

    position: absolute;
    visibility: hidden;
}

nav >ul ul.sub-menu1, ul.sub-menu2, ul.sub-menu3, ul.sub-menu4 {

    visibility: hidden;   
}

nav >ul ul li {

    color: white;
    padding: 7px;
    list-style-type: none;
    border-radius: 5px;
    background-color: #54a744b6;
    position: relative;
    top: 20px;
    left: -14px;
    border: 1px solid black;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px 0px black;
    text-align: center;
    border-radius: 0 7px 0 7px;
}


nav >ul li.menu1:hover ul, li.menu2:hover ul, li.menu3:hover ul, li.menu4:hover ul {

    visibility: visible;
    cursor: pointer;
}

nav > ul li.menu1:hover, li.menu2:hover, li.menu3:hover, li.menu4:hover {

    background-color: rgba(165, 42, 42, 0.164);
    color: bisque;
}


/* ==================== Animation ========================== */
nav > ul li.animacao:hover {

    animation: fadein 2s linear;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* =============== FIM MENU NAVEGAÇÃO =============*/


/* =========== LINKS ===================== */
a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span.logo-blue  a:visited {

    color: blue;
}
/* ================ FIM LINKS ===================== */



div.borda {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: 3px solid black;
    box-shadow: 0px -4px 9px white;
    width: 95%;
    height: 120px;
    margin: auto;
}

main {

    width: 65%;
    height: 100%;
    border: 3px solid black;
    margin-top: 7px;
    margin-bottom: 4px;
    margin-left: 7px;
    float: left;
}

/* =================== TÍTULOS ===============*/
h2 {
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #26511d;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.227);
    font-size: 2em;
}

h3 {

    padding-bottom: 2px;
    padding-top: 10px;
    color: #26511d;
    font-size: 1.3em;
    font-family: pt-sans, Arial, Helvetica, sans-serif;
    font-style: italic;
}

.sessao2 h3 {

    font-size: 1.1em;
}
/* =================== FIM TÍTULOS ===============*/


/* =================== SESSÕES ===============*/
.sessao1, .sessao2, .sessao3 > p {

    margin-left: 15px;
    font-family: pt-sans, Arial, Helvetica, sans-serif;
    line-height: 130%;
    font-size: 17px;
    font-weight: 400;
    margin-right: 5px;
}

.sessao2, .sessao3 > p {
    
    margin-bottom: 10px;
}

.sessao1 > p {

    margin-bottom: 10px;
}

.img-sec3 {

    width: 150px;
    height: 250px;
    float: left;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px black;
    border: 1px solid black;
    transition: transform 0.5s;
    transition-duration: 2s; 
}

.img-sec3:hover {

    transform: scale(2) translateX(90px);
}
/* =================== FIM SESSÕES ===============*/



/* =================== BARRA LATERAL ===============*/
aside {

    width: 33%;
    height: 766.6px;
    border: 3px solid black;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
}

div#sidebar {

    width: 95%;
    height: 98%;
    padding: 3px 10px 30px 10px;
    border-style: outset;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black;
    margin-left: 8px;
    margin-top: 6px;
    background: rgba(225,237,235,.5);
}

#sidebar p {

    background-color: #26511d;
    border: 1px solid black;
    padding: 10px;
    color: white;
    font-size: 0.98em;
    text-align: center; 
    margin-left: -10px;
    margin-right: -8px; 
    display: block;
    border-radius: 5px;
}

aside h3 {

    margin-top: 17px;
    border-top: 1px dotted black;
    color: #26511d;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.227);
}

.efeitos-sociais {

    transition: transform 1s;
}

.efeitos-sociais:hover {

    transform: scale(2);
}
/* ================= FIM BARRA LATERAL =============*/

iframe {

    margin: auto;
    margin: 10px 0 10px 12px;
    box-shadow: 0px 0px 10px 0px black;
}

.nav-iframe {

   display: block;
   margin-top: 25px;
   margin-right: 20px;
   margin-left: 20px;
   

}

.nav-iframe  span {

    padding-right: 10px;
    display: inline-block;
    animation: marcadores 2s linear infinite;
    color: black;
}

.li-iframe {  

   list-style-position: inside;
   margin-bottom: 20px;
   list-style: none;
   box-shadow: 0px 0px 10px 0px black;
   padding: 10px;
   border-radius: 5px;
   color: #26511d;
   font-weight: bolder;
   font-family: pt-sans, Arial, Helvetica, sans-serif;
   text-shadow: 0px 1px 2px rgba(254, 250, 250, 0.559);
}

.li-iframe:hover {

    background-color: #4763415e;
}

@keyframes marcadores {

    0% {opacity: 1;}
    50% {opacity: 0.2;}
    100% {opacity: 3;}
}

/* =================== RODAPÉ ===============*/

div#footer2 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #476341;
    border-radius: 10px;
    width: 98%;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    padding: 16px;
}

footer {

    width: 100%;
    height: 55px;
    border: 3px solid black;
    margin-top: 7px;
    margin-bottom: 10px;
    clear: both;
}

div#footer2 > p {

    color: white;
    font-size: 0.9em;
}

div#footer2 > ul li {

    display: inline-block;
    margin-right: 20px;
    margin-top: 4px;
    list-style: none;
    margin: 0;
}

div#footer2 > ul.redes-sociais .img{

    display: flex;
    gap: 10px;
}

.img-sociais {

    width: 26px;
    height: 26px;
}
/* =================== FIM RODAPÉ ===============*/