@charset "UTF-8";

/* Versão para todas as mídias */

/* Typical Device Breakponits
==================================

Pequenas Telas: Até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px ate 1200px
Grandes Telas: Acima de 1200px


Atual 2022
Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080.
*/

@media screen and (max-width: 500px) and (orientation: portrait){
    
    div#container {
        
        width: 100%;
        height: 100%;
    }

    header {

        position: relative;
    }
    
    .cubo {

        display: block;
        position: absolute;
        top: 15px;
        left: 25px;
    }

    nav > ul {
    
        position: absolute;
        top: 86px;
        left: 70px;
        gap: 10px;
        margin-right: 5px;
        
    }

    nav >ul >li {

        color: white;
    }

    nav >ul ul.sub-menu4 li {

        width: 85px;
    }

    h1 {

        color: white;
        display: inline-block;
        position: absolute;
        top: 29px;
        left: 105px;
        font-size: 2em;
    }

    h3 {

        color: #26511d;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.227);
        margin-bottom: 5px;
    }

    h3.super-tit {

        text-align: start;
    }


    main {

        width: 98%;
    }
    
    .sessao1 {

        border: 2px dotted black;
        padding: 5px;
        width: 97%;
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        line-height: 120%;
        font-size: 1em;
        box-shadow: 0px 0px 10px 0px black;
    }


    .sessao2 {

        border: 2px dotted black;
        padding: 5px;
        width: 97%;
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        line-height: 120%;
        font-size: 1em;
        box-shadow: 0px 0px 10px 0px black;
    }

    .sessao3 {

        border: 2px dotted black;
        padding: 5px;
        width: 97%;
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        line-height: 120%;
        font-size: 1em;
        margin-bottom: 5px;
        box-shadow: 0px 0px 10px 0px black;
    }

    .sessao3 > p {

        padding-bottom: 15px;
        text-align: start;

    }

    .sessao1 >p , .sessao2 > p {

        text-align: start;
        margin-left: 10px;
    }

    .sessao2 > p {

        margin-bottom: 10px;
    }

    p.borda {

        border-bottom: 2px dotted black;
    }
    
    aside {

        width: 98%;
        margin-right: 3px;
        margin-bottom: 10px;
    }

    div#sidebar {

        width: 95%;
        margin-left: 10px;
    }

    #sidebar p {

        font-size: 1.299em;
        text-transform: lowercase;
    }

    footer {

        width: 98%;
        margin-left: 6.2px;
    }
    
    div#footer2 {

        width: 98%;
        height: 35px;
    }

    div#footer2 > p {

       font-size: 0.8em;
       color: white;
    }

    div#footer2 > ul li {
        padding: 0;
        margin: 0;
    }

    .img-sociais {

        width: 24px;
        height: 24px;
    }

    div#footer2 > ul.redes-sociais {

        gap: 5px;
    }
}
/* ====================== FIM 500px =====================================*/



@media screen and (min-width: 600px) and (max-width: 768px) and (orientation: portrait){
    

    div#container {
        width: 100%;
        height: 100%;
    }


    header {

        position: relative;
    }
    
    .cubo {

        display: block;
        position: absolute;
        top: 12px;
        left: 25px;
    }

    nav > ul {
    
        display: flex;
        position: absolute;
        top: 86px;
        left: 71px;
        gap: 15px;
    }

    nav >ul >li {

        color: white;
    }

    nav >ul ul.sub-menu4 li {

        width: 85px;
    }

    h1 {

        color: white;
        display: inline-block;
        position: absolute;
        top: 29px;
        left: 105px;
        font-size: 2em;
    }

    h3 {

        color: #26511d;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.227);
        margin-bottom: 5px;
    }

    h3.super-tit {

        text-align: start;
    }

    main {

        width: 98%;
    }
    
    .sessao1 {

        border: 2px dotted black;
        padding: 5px;
        width: 97%;
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        line-height: 120%;
        font-size: 1em;
        box-shadow: 0px 0px 10px 0px black;
    }

    .sessao2 {

        border: 2px dotted black;
        padding: 5px;
        width: 97%;
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        line-height: 120%;
        font-size: 1em;
        box-shadow: 0px 0px 10px 0px black;
    }

    .sessao3 {

        border: 2px dotted black;
        padding: 5px;
        width: 97%;
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        line-height: 120%;
        font-size: 1em;
        margin-bottom: 5px;
        box-shadow: 0px 0px 10px 0px black;
    }

    .sessao3 > p {

        padding-bottom: 15px;
        text-align: start;

    }

    .sessao1 >p , .sessao2 > p {

        text-align: start;
        margin-left: 10px;
    }

    .sessao2 > p {

        margin-bottom: 10px;
    }

    p.borda {

        border-bottom: 2px dotted black;
    }

    aside {

        width: 98%;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    div#sidebar {

        width: 95%;
        margin-left: 13px;
    }

    #sidebar p {

        font-size: 1.3em;
    }

    #sidebar p {

        font-size: 1.4em;
        text-transform: lowercase;
    }

    footer {

        width: 98%;
        margin-left: 6.3px;
    }

    .img-sociais {

        width: 24px;
        height: 24px;
    }

    div#footer2 > ul.redes-sociais {

        gap: 9px;
    }

    div#footer2 > p {

        font-size: 0.9em;
     }
}
/* ====================== FIM 600px ==============================*/



@media screen and (min-width: 768px) and (max-width: 992px) {

    div#container {
        width: 100%;
        height: 100%;
    }

    header {

        position: relative;
    }
    
    .cubo {

        display: block;
        position: absolute;
        top: 12px;
        left: 25px;
    }

    nav > ul {
    
        display: flex;
        position: absolute;
        top: 85px;
        left: 71px;
        gap: 20px;
        
    }

    nav >ul >li {

        color: white;
    }

    h1 {

        color: white;
        display: inline-block;
        position: absolute;
        top: 29px;
        left: 105px;
        font-size: 2em;
    }

    .sessao3 h3 {

        text-align: start;
        padding-bottom: 5px;
    }

    p.borda {

        border-bottom: none;
    }

    .sessao1 > p {

        padding: 6px;
        text-align: justify;
    }

    .sessao2 > p {

        padding: 6px;
        text-align: justify;
    }
    .sessao3 > p {

        padding-bottom: 15px;
        text-align: start;

    }

    div#sidebar {

        width: 95%;
        margin-left: 17px;
    }

    main {

        width: 98%;
    }

    aside {

        width: 95%;
        margin-bottom: 10px;
        margin-right: 22px;
    }

    #sidebar p {

        font-size: 1.2em;
        text-transform: lowercase;
        text-align: center;
    
    }

    footer {

        width: 98%;
        margin-left: 6.3px;
    }
}
/* ====================== FIM 768px ==============================*/


@media screen and (min-width: 992px) and (max-width: 1200px) {

    nav >ul ul.sub-menu4 li {

        width: 85px;
    }

    
    aside {

        height: 870.8px;
    }

    div#sidebar {

        width: 95%;
        height: 98.5%;
        margin-left: 7px;
    }

    aside {

        width: 95%;
        margin-bottom: 10px;
        margin-right: 27px;
    }

    #sidebar p {

        font-size: 1.2em;
        text-transform: lowercase;
        text-align: center;
    }

    div#sidebar {

        margin-left: 23px;
    }
}
/* ====================== FIM 992px ==============================*/